# Java compilation output
**/target/
**/*.class
**/*.jar
**/*.war
**/*.ear

# Maven
.mvn/
**/.factorypath

# Node / Frontend
**/node_modules/
**/dist/
**/.vite/

# IDEs and Editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db

# Environmental Secrets
.env
.env.local
